.skills {
    box-sizing: border-box;
    display: grid;
    grid-gap: $marge;
    grid-template: 33vh 33vh / 1fr 1fr ;
    grid-template-areas: "front back"
                         "cert other";
}
.skills h3 {
    text-align: center;
}
.box {
    border-radius: $border;
    display: grid;
    position: relative;
    height: 30vh;
    background: $color-lightgrey;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box:hover .items {
    display: grid;
}
.box:nth-of-type(1) {
    grid-area: front;
}
.box:nth-of-type(2) {
    grid-area: back;
}
.box:nth-of-type(3) {
    grid-area: cert;
}
.box:nth-of-type(4) {
    grid-area: other;
}
.items {
    color: $color-white;
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    cursor: pointer;
    background: $color-secundary;
    font-size: 20px;
}